/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 500px) {
/* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: block; 
        position: fixed; 
        bottom: 3%; 
        left: 3em; 
        z-index: 99; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 18px; 
        color: white; 
        background-color: #E5584C; 
        border: none; 
        outline: none; 
        opacity: 0.5; 
    }
    #tocsection:hover {
        opacity: 1.5; 
    }
    #tableOfContents {
        display: none; 
    }
    .toc {
        position: sticky;
        top: 29.5em; 
        z-index: 1000; 
        height: 0;
        padding-left: 1em; 
    }
    .toc-section {
        width: 115px; 
        height: 30px;
    }
    .toc-entry {
        display: block; 
        background-color: white; 
        font-family: "pt-sans";
        width: 100px; 
        margin: 3px; 
        color: #9A9999; 
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
        padding-left: 5px; 
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: -2em; 
        top: 165%; 
        width: 105%; 
        height: 300%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        width: 100%;
    }
    .flower img {
        width: 100%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:20px;
        padding-right: 20px;
        padding-top: 5px;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
}
@media screen and (min-width: 501px max-width: 577px) {

}

/* // Medium devices (tablets, 768px and under) */
@media screen and (min-width: 578px) (max width: 768px) {
    /* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: block; 
        position: fixed; 
        top: 65%; 
        left: 2.5em; 
        z-index: 99; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 18px; 
        color: white; 
        background-color: #E5584C; 
        border: none; 
        outline: none; 
        opacity: 0.5; 
    }
    #tocsection:hover {
        opacity: 1.5; 
    }
    #tableOfContents {
        display: none; 
    }
    .toc {
        position: sticky;
        top: 40%; 
        z-index: 1000; 
        height: 0;
        margin-left: 2px; 
        text-align: center;
    }
    .toc-section {
        width: 115px; 
        height: 30px;
    }
    .toc-entry {
        display: block; 
        background-color: white; 
        font-family: "pt-sans";
        width: 100px; 
        margin: 1px; 
        color: #9A9999; 
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: -4em; 
        top: -50%; 
        width: 60%; 
        height: 300%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        left: 0%;
        top: 57em;
    }
    .flower img {
        width: 100%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:70px;
        padding-right: 70px;
        padding-top: 5px;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
}

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 769px) {
    /* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: none;
        visibility: hidden;
    }
    .toc {
        display: none;
        visibility: hidden;
    }
    #tableOfContents {
        display: none; 
        visibility: hidden;
    }
    .toc-section {
        display: none;
        visibility: hidden;
    }
    .toc-entry {
        display: none;
        visibility: hidden;
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 150%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        width: 50%;
        left: -25%;
        top: 20%;
    }
    .flower img {
        width: 100%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:100px;
        padding-right: 100px;
        padding-top: 5px;
        margin-left: -7%;
        width: 112%;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
}

/* // Extra large devices (large desktops, 1200px and up)// */
@media screen and (min-width: 1200px) {


}

html {
    scroll-behavior: smooth; 
} 
.gradient{
    background-image: url(../images/Gradient.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 5000px auto; 
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%; 
}
/* <!-- Nav CSS --> */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-custom {
    background-color: white;
}
.navbar-nav .navbar-btn .nav-link {
    border-color: #E5584C;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    color: #fff !important;
    background-color: #3A7673;
}
.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.hamburgerDisplay {

}
#hamburger {
    display: none; 
}
.form-inline {
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-outline-success {
    background-color: #E5584C;
    border: none;
    color: white;
    cursor: pointer;
} 
.btn-outline-success:hover {
    background-color: #0D1D21;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #DC423C;
}
/* Main Content CSS */
.card-header {
    font-family: "pt-sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    color: white;
    background-color: #709189;
}
.card-bottom {
    font-family: "roboto-condensed";
    color: black;
    font-style: normal;
    font-size: 17px;
}
.blockquote-footer {
    font-family: "futura-pt";
    font-size: 15px;
    color: #B4B4B4;
    font-style: normal;
}
h1, h2 {
    text-align: center;
    color: black;
    font-family: 'pt-sans', sans-serif;
    font-style: bold;
    font-size: 40px;
    padding-top: 30px;
    font-weight: 600;
}
h3 {
    margin-top: 10px;
    font-size: 30px;
    font-family: "pt-sans", sans-serif;
    font-style: bold;
    color: black;
    font-weight: 600;
}
.protoVisuals1 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #9BAFAA;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.protoVisuals2 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #E5584C;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.protoVisuals3 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #ECC19B;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.competitorAnalysis img {
    height: auto;
    width: 100%;
}
.processTiles1 {
    background-color: #ECC19B;
    margin-bottom: 10px;
}
.processTiles2 {
    background-color: #E5584C;
    margin-bottom: 10px;
}
.processTiles3 {
    background-color: #709189;
    margin-bottom: 10px;
}
.card-title2 {
    font-family: "roboto";
    color: white;
    font-style: bold;
    font-size: 20px;
}
.card-title1 {
    font-family: "roboto";
    color: black;
    font-style: bold;
    font-size: 20px;
}
.card-title {
    font-family: "futura-pt";
    color: #1B3B43;
    font-style: normal;
    font-size: 22px;
}
.card-text {
    font-family: "roboto-condensed";
    color: #3A7673;
    font-style: italic;
    font-size: 15px;
}
.card-text1 {
    font-family: "roboto-condensed";
    color: black;
    font-style: italic;
    font-size: 15px;
}
.card-text2 {
    font-family: "roboto-condensed";
    color: white;
    font-style: italic;
    font-size: 15px;
}
.blockquote p {
    font-family: "roboto-condensed";
    color: black;
    font-style: italic;
    font-size: 17px;
}
.imgSizing {
    width: auto;
    min-height: 340px;
    object-fit: cover;
}
.imgSizing1 {
    width: auto;
    min-height: 30px;
    object-fit: cover;
}
.contentTitle {
    font-size: 25px;
    font-family: "roboto";
    font-style: bold;
    color:black;
}
.contentContent {
    font-size: 20px; 
    font-style: normal;
    font-family: "roboto";
    color: black;
}
.maxWidth {
    font-size: 20px; 
    font-style: normal;
    font-family: "roboto";
    color: black;
    width: 100%
}
/* Footer Styles */
.footer {
    background-color: #709189;
    position: relative;
    bottom: 0;  
    width: 100vw; 
    left: 50%; 
    right: 50%; 
    margin-left: -50vw; 
    margin-right: -50vw; 
} 
.wrapper {
    height: 140px;
    color: white;
}
.logo2 {
    height: 90px; 
    padding: 5px;
    width: 150px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    margin-left: 40px;
    position: absolute; 
    left: 0px; 
    bottom: 40px; 
}
.footerTitle {
    font-size: 27px; 
    padding-left: 40px;
    word-spacing: 10px;
    position: absolute; 
    left: 10px; 
    bottom: 0px; 
    font-family: "PT Sans"; 
}
.socialMedia {
    height: 65px; 
    padding: 5px;
    width: 65px;
    background-repeat: no-repeat;
    object-fit: cover;
    text-align: center;
    margin-left: 40px;
    display: block; 
}
.GitHub { 
    position: absolute; 
    bottom: 40px; 
    right: 150px; 
}
.LinkedIn {
    position: absolute; 
    bottom: 40px; 
    right: 80px; 
}
.FaceBook {
    position: absolute; 
    bottom: 40px; 
    right: 10px; 
}
#copyright {
    position: absolute; 
    bottom: 10px; 
    right: 5px; 
    font-size: 12px;
}
.links {
    color: white;
    font-size: 18px;
}
.textLinks {
    padding: 0px 0px; 
    position: absolute; 
    left: 200px; 
    bottom: 50px; 
}
.fa-envelope {
    margin: 5px;
}
.fa-phone-alt {
    margin: 5px;
}