@media only screen and (min-width: 768px) {
    /* styles for browsers larger than 1440px; */
        /* <!-- Sidebar (TOC) CSS --> */
        #tocsection {
            display: none;
            visibility: hidden;
        }
        .toc {
            display: none;
            visibility: hidden;
        }
        #tableOfContents {
            display: none; 
            visibility: hidden;
        }
        .toc-section {
            display: none;
            visibility: hidden;
        }
        .toc-entry {
            display: none;
            visibility: hidden;
        }
        .emptyBox {
            display: none;
            visibility: hidden;
        }
        .flowerContainer {
            background-size: 160px; 
            overflow: hidden; 
            position: absolute; 
            left: 0; 
            top: 0; 
            width: 100%; 
            height: 150%; 
            z-index: 0; 
        }
        .flower {
            position: absolute;
            width: 50%;
            left: -25%;
            top: 20%;
        }
        .flower img {
            width: 100%; 
            animation: big-spin 160s linear infinite; 
        }
        @keyframes big-spin {
            0% {
               transform: rotate(0deg);
            }
            100% {
               transform: rotate(360deg);
            }
        }
        .backgroundCS {
            padding-left:100px;
            padding-right: 100px;
            padding-top: 5px;
            margin-left: -2%;
            width: 100%;
            background-color: white;
            border-radius: 20px;
            position: relative;
        }
        .flowerFooter {
            background-size: 40px; 
            overflow: hidden; 
            position: absolute; 
            transform: translateY(-30%);
            width: 100%; 
            height: 60%; 
            z-index: 0; 
        }
        .flowerPower {
            position: relative;
        }
        .flowerPower img {
            width: 100%; 
            animation: big-spin 160s linear infinite;
        }
        @keyframes big-spin {
            0% {
               transform: rotate(0deg);
            }
            100% {
               transform: rotate(360deg);
            }
        }
        /* Footer Styles */
        .socials {
            padding: 0px !important;
            color: white;
        }
        .socials:hover {
            color: #E5584C;
        }
        .icon-background {
            color: #686868;
        }
        .footerElements {
            margin: auto;
            text-align: center;
        }
        .footerLogo img {
            margin: auto;
            display: block;
            -webkit-filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
            /* margin-right: 5% !important; */
        }
}
@media only screen and (min-width: 991px) {
    .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-45%);
        width: 100%; 
        height: 50%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: left;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
    
    filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        margin-right: 5% !important;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    /* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: none;
        visibility: hidden;
    }
    .toc {
        display: none;
        visibility: hidden;
    }
    #tableOfContents {
        display: none; 
        visibility: hidden;
    }
    .toc-section {
        display: none;
        visibility: hidden;
    }
    .toc-entry {
        display: none;
        visibility: hidden;
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 150%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        width: 50%;
        left: -25%;
        top: 20%;
    }
    .flower img {
        width: 100%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-60%);
        width: 100%; 
        height: 40%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:100px;
        padding-right: 100px;
        padding-top: 5px;
        margin-left: -2%;
        width: 104%;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        /* text-align: center; */
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        margin-right: 5% !important;
    }
}
@media only screen and (max-width: 767px) {
    /* for screens between phones and tablets screens */
    #tocsection {
        display: block; 
        position: fixed; 
        bottom: 3%; 
        left: 1em; 
        z-index: 99; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 18px; 
        color: white; 
        background-color: #E5584C; 
        border: none; 
        outline: none; 
        opacity: 0.5; 
    }
    #tocsection:hover {
        opacity: 1.5; 
    }
    #tableOfContents {
        display: none; 
    }
    .toc {
        position: sticky;
        top: 29.5em; 
        z-index: 1000; 
        height: 0;
        padding-left: 1em; 
    }
    .toc-section {
        width: 115px; 
        height: 30px;
    }
    .toc-entry {
        display: block; 
        background-color: white; 
        font-family: "pt-sans";
        width: 100px; 
        margin: 3px; 
        color: #9A9999; 
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
        padding-left: 5px; 
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: -.75em; 
        top: 235%; 
        width: 100%; 
        height: 300%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        width: 100%;
    }
    .flower img {
        width: 105%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-20%);
        width: 100%; 
        height: 50%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:20px;
        padding-right: 20px;
        padding-top: 5px;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
    /* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: block; 
        position: fixed; 
        bottom: 3%; 
        left: 1em; 
        z-index: 99; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 18px; 
        color: white; 
        background-color: #E5584C; 
        border: none; 
        outline: none; 
        opacity: 0.5; 
    }
    #tocsection:hover {
        opacity: 1.5; 
    }
    #tableOfContents {
        display: none; 
    }
    .toc {
        position: sticky;
        top: 24.5em; 
        z-index: 1000; 
        height: 0;
        margin-left: -10% !important; 
    }
    .toc-section {
        width: 115px; 
        height: 30px;
    }
    .toc-entry {
        display: block; 
        background-color: white; 
        font-family: "pt-sans";
        width: 100px; 
        margin: 3px; 
        color: #9A9999; 
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
        padding-left: 5px; 
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: -.75em; 
        top: 165%; 
        width: 103%; 
        height: 300%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        width: 100%;
    }
    .flower img {
        width: 105%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:20px;
        padding-right: 20px;
        padding-top: 5px;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
    .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-20%);
        width: 100%; 
        height: 50%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
}
@media only screen and (max-device-width: 411px) and (height:823px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 30em; 
         z-index: 1000; 
         height: 0;
         margin-left: -10% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-20%);
        width: 100%; 
        height: 45%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
 @media only screen and (max-device-width: 540px) and (height:720px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 24em; 
         z-index: 1000; 
         height: 0;
         margin-left: -7% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-25%);
        width: 100%; 
        height: 50%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
@media only screen and (max-device-width: 375px) and (height:667px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 20.5em; 
         z-index: 1000; 
         height: 0;
         margin-left: -12% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-15%);
        width: 100%; 
        height: 55%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
 @media only screen and (max-device-width: 375px) and (height:812px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 29.5em; 
         z-index: 1000; 
         height: 0;
         margin-left: -10% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-20%);
        width: 100%; 
        height: 45%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 18.5em; 
         z-index: 1000; 
         height: 0;
         margin-left: -12% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-15%);
        width: 100%; 
        height: 55%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

        filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
@media only screen and (max-device-width: 350px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 14.5em; 
         z-index: 1000; 
         height: 0;
         margin-left: -12% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-20%);
        width: 100%; 
        height: 60%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
@media only screen and (max-device-width: 300px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
     /* <!-- Sidebar (TOC) CSS --> */
     #tocsection {
         display: block; 
         position: fixed; 
         bottom: 3%; 
         left: 1em; 
         z-index: 99; 
         cursor: pointer; 
         padding: 10px; 
         border-radius: 10px; 
         font-size: 18px; 
         color: white; 
         background-color: #E5584C; 
         border: none; 
         outline: none; 
         opacity: 0.5; 
     }
     #tocsection:hover {
         opacity: 1.5; 
     }
     #tableOfContents {
         display: none; 
     }
     .toc {
         position: sticky;
         top: 19.5em; 
         z-index: 1000; 
         height: 0;
         margin-left: -15% !important; 
     }
     .toc-section {
         width: 115px; 
         height: 30px;
     }
     .toc-entry {
         display: block; 
         background-color: white; 
         font-family: "pt-sans";
         width: 100px; 
         margin: 3px; 
         color: #9A9999; 
         box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
         padding-left: 5px; 
     }
     .flowerContainer {
         background-size: 160px; 
         overflow: hidden; 
         position: absolute; 
         left: -.75em; 
         top: 165%; 
         width: 103%; 
         height: 300%; 
         z-index: 0; 
     }
     .flower {
         position: absolute;
         width: 100%;
     }
     .flower img {
         width: 105%; 
         animation: big-spin 160s linear infinite; 
     }
     @keyframes big-spin {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
     }
     .backgroundCS {
         padding-left:20px;
         padding-right: 20px;
         padding-top: 5px;
         background-color: white;
         border-radius: 20px;
         position: relative;
     }
     .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-15%);
        width: 100%; 
        height: 50%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
 }
@media only screen and (device-width: 768px) and (height: 1024px) {
   /* default iPad screens */
    /* <!-- Sidebar (TOC) CSS --> */
    #tocsection {
        display: block; 
        position: fixed; 
        top: 65%; 
        left: 2.5em; 
        z-index: 99; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 18px; 
        color: white; 
        background-color: #E5584C; 
        border: none; 
        outline: none; 
        opacity: 0.5; 
    }
    #tocsection:hover {
        opacity: 1.5; 
    }
    #tableOfContents {
        display: none; 
    }
    .toc {
        position: sticky;
        top: 40%; 
        z-index: 1000; 
        height: 0;
        margin-left: 2px; 
        text-align: center;
    }
    .toc-section {
        width: 115px; 
        height: 30px;
    }
    .toc-entry {
        display: block; 
        background-color: white; 
        font-family: "pt-sans";
        width: 100px; 
        margin: 1px; 
        color: #9A9999; 
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important; 
    }
    .flowerContainer {
        background-size: 160px; 
        overflow: hidden; 
        position: absolute; 
        left: -4em; 
        top: -50%; 
        width: 60%; 
        height: 300%; 
        z-index: 0; 
    }
    .flower {
        position: absolute;
        left: 0%;
        top: 57em;
    }
    .flower img {
        width: 100%; 
        animation: big-spin 160s linear infinite; 
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    .backgroundCS {
        padding-left:70px;
        padding-right: 70px;
        padding-top: 5px;
        background-color: white;
        border-radius: 20px;
        position: relative;
    }
    .flowerFooter {
        background-size: 40px; 
        overflow: hidden; 
        position: absolute; 
        transform: translateY(-25%);
        width: 100%; 
        height: 35%; 
        z-index: 0; 
    }
    .flowerPower {
        position: relative;
    }
    .flowerPower img {
        width: 100%; 
        animation: big-spin 160s linear infinite;
    }
    @keyframes big-spin {
        0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }
    /* Footer Styles */
    .socials {
        padding: 0px !important;
        color: white;
    }
    .socials:hover {
        color: #E5584C;
    }
    .icon-background {
        color: #686868;
    }
    .footerElements {
        margin: auto;
        text-align: center;
    }
    .footerLogo img {
        margin: auto;
        display: block;
        -webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);

filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        /* margin-right: 5% !important; */
    }
}

html {
    scroll-behavior: smooth; 
} 
.gradient{
    background-image: url(../images/Gradient.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 5000px auto; 
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%; 
}
/* <!-- Nav CSS --> */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-custom {
    background-color: white;
}
.navbar-nav .navbar-btn .nav-link {
    border-color: #E5584C;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    color: #fff !important;
    background-color: #3A7673;
}
.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.hamburgerDisplay {

}
#hamburger {
    display: none; 
}
.form-inline {
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-outline-success {
    background-color: #E5584C;
    border: none;
    color: white;
    cursor: pointer;
} 
.btn-outline-success:hover {
    background-color: #0D1D21;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #DC423C;
}
/* Main Content CSS */
.card-header {
    font-family: "pt-sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    color: white;
    background-color: #709189;
}
.card-bottom {
    font-family: "roboto-condensed";
    color: black;
    font-style: normal;
    font-size: 17px;
}
.blockquote-footer {
    font-family: "futura-pt";
    font-size: 15px;
    color: #B4B4B4;
    font-style: normal;
}
h1, h2 {
    text-align: center;
    color: black;
    font-family: 'pt-sans', sans-serif;
    font-style: bold;
    font-size: 40px;
    padding-top: 10px;
    font-weight: 600;
}
h3 {
    margin-top: 10px;
    font-size: 30px;
    font-family: "pt-sans", sans-serif;
    font-style: bold;
    color: black;
    font-weight: 600;
}
.protoVisuals1 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #9BAFAA;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.protoVisuals2 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #E5584C;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.protoVisuals3 img {
    margin: auto; 
    height: auto;
    max-width: 100%;
    border: 3;
    color: #ECC19B;
    border-style: solid;
    border-radius: 5px;
    z-index: 1;
}
.competitorAnalysis img {
    height: auto;
    width: 100%;
}
.processTiles1 {
    background-color: #ECC19B;
    margin-bottom: 10px;
}
.processTiles2 {
    background-color: #E5584C;
    margin-bottom: 10px;
}
.processTiles3 {
    background-color: #709189;
    margin-bottom: 10px;
}
.card-title2 {
    font-family: "roboto";
    color: white;
    font-style: bold;
    font-size: 20px;
}
.card-title1 {
    font-family: "roboto";
    color: black;
    font-style: bold;
    font-size: 20px;
}
.card-title {
    font-family: "futura-pt";
    color: #1B3B43;
    font-style: normal;
    font-size: 22px;
}
.card-text {
    font-family: "roboto-condensed";
    color: #3A7673;
    font-style: italic;
    font-size: 15px;
}
.card-text1 {
    font-family: "roboto-condensed";
    color: black;
    font-style: italic;
    font-size: 15px;
}
.card-text2 {
    font-family: "roboto-condensed";
    color: white;
    font-style: italic;
    font-size: 15px;
}
.blockquote p {
    font-family: "roboto-condensed";
    color: black;
    font-style: italic;
    font-size: 17px;
}
.imgSizing {
    width: auto;
    min-height: 340px;
    object-fit: cover;
}
.imgSizing1 {
    width: auto;
    min-height: 30px;
    object-fit: cover;
}
.contentTitle {
    font-size: 25px;
    font-family: "roboto";
    font-style: bold;
    color:black;
}
.contentContent {
    font-size: 20px; 
    font-style: normal;
    font-family: "roboto";
    color: black;
}
.maxWidth {
    font-size: 20px; 
    font-style: normal;
    font-family: "roboto";
    color: black;
    width: 100%
}
.projectLinks {
    background-color: #686868;
    color: white;
    font-family: 'pt-sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.projectLinks:hover {
    background-color: #E5584C;
    color: white;
    font-style: bold;
}
