/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up)// */
@media (min-width: 1200px) {... }
/* <!-- Nav CSS --> */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-custom {
    background-color: #709189;
}
.navbar-nav .navbar-btn .nav-link {
    border-color: #E5584C;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    /* font-weight: 700; */
    color: #fff !important;
    background-color: #3A7673;
    /* padding: 6px 6px 5px 5px !important; */
    /* margin: auto; */
}
.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.form-inline {
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-outline-success {
    background-color: #E5584C;
    border: none;
    color: white;
    cursor: pointer;
} 
.btn-outline-success:hover {
    background-color: #0D1D21;
}
.titleHeader {
    text-align: center;
}
.protoVisuals {
    margin: auto; 
}
.contentTitle {
    font-size: 25px;
    font-weight: 500; 
}
.contentContent {
    font-size: 20px; 
    font-weight: normal;
}
.maxWidth {
    width: 100%;
}
#circle {
    width: 100px;
    height: 100px;
    border-radius: 50%
}